.normal {
  background-color: #cdcdd5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 1rem 0px 1rem;
  border: 1px solid white
}

.accent {
  background-color: var(--brand-yellow);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 0px 1rem 0px 1rem;
}

.accent:hover {
  background-color: #eed549
}

.normal:hover {
  background-color: #b3b3b6;
}