.nav {
  position: fixed;
  background-color: var(--brand-dark-blue);
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 10000;
}

.dropdown_h2 {
  font-family: quickSand;
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 3vh;

  & a {
    cursor: pointer;
  }
}

.hamburguer_menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;

  &:hover {
    transform: scale(1.06);
  }
}

.dropdown {
  position: absolute;
  background-color: #ffff;
  min-width: 400px;
  min-height: 100%;
  top: 7vh;
  left: 0;
  color: black;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 20px;

  & ul li {
    list-style: none;
    
  }

  & ul li a {
    padding: 20px;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    color: black;
    gap: 10px;

    &:hover {
      background-color: #bebcbc;
    }
  }
}

.hamburguer {
  pointer-events: none;
}

.form {
  position: relative;
}

.input_text {
  height: 4vh;
  width: 50vh;
  background-color: #ffff;
  border: none;
  border-radius: 30px;
  margin-right: 4vh;
  color: black;
  padding-left: 20px;
  padding-right: 50px;
}

.input_button {
  position: absolute;
  right: 5vh;
  bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form_side {
  display: flex;
  flex-direction: row;
}

.log_buttons {
  display: flex;
  flex-direction: row;
  gap: 2vh;
}

.user_button {
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.user_image {
  height: 40px;
  margin: 0;
}

.user_menu {
  background-color: #ffff;
  position: absolute;
  top: 70px;
  right: 0;
  border-radius: 10px;
  overflow: hidden;

  & ul li {
    list-style: none;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    padding: 20px;
    font-size: 17px;

    &:hover {
      background-color: #bebcbc;
    }
  }
}

.menu_hidden {
  display: none;
}

.close_session_button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
}
