/* globals.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #f5f7fa, #c3cfe2);
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #003366;
  color: white;
}

header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50%;
  margin-left: 1;
}

.nav-button {
  background-color: #eaf4ff;
  color: rgb(1, 0, 32);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #0056b3;
}

.search-input {
  flex: 1; /* Ocupa todo el espacio disponible */
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 25px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño de fuente más grande */
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #001a33;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}