
.title {
  font-family: quicksand;
  margin-bottom: 10px;
  
}

.body {
  padding: 50px;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  & h1 {
    margin-bottom: 50px;
    font-size: 40px;
  }

  & input {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 20px;

    background-color: var(--brand-dark-blue);
  }

  & select {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--brand-dark-blue);
    padding-left: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.separador_con_boton {
  display: flex;
  justify-content: space-around;
  gap:60px;
}

.separador_columnas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.separador_preguntas {
  display: flex;
  flex-direction: column;
  gap: 5 px
}

.separador_foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px
}

.preview_image {
  height: 150px;
  width: 150px;
}

.submit_button {
  height: 40px;
  width: 400px;
  justify-self: center;
  align-self: center;
  background-color: var(--brand-yellow);
  outline: none;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 10px;
  color: var(--brand-dark-blue);
  font-size: 20px;
  cursor: pointer;
}

.upload_button {
  height: 40px;
  width: 250px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: var(--brand-dark-blue);
}

.error {
  color: red;
  align-self: center;
}

