/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/auth/signup/signup.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
/* signup.module.css */

.signup_container__hyRab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signup_signupBox__YV7Mk {
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco translúcido */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Aplica un desenfoque al fondo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_signupBox__YV7Mk h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
  color: #001f3f;
}

.signup_input__Njl4m {
  width: calc(100% - 20px); /* Ajusta el ancho para que sea simétrico */
  padding: 10px;
  margin: 10px; /* Añade margen para simetría */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.signup_submitButton__2O466 {
  width: 100%;
  background: #002b58; /* Azul oscuro */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.signup_submitButton__2O466:hover {
  background: #001224; /* Azul más oscuro */
}

.signup_signIn__aB_uR {
  margin-top: 15px;
  text-align: center;
}

.signup_signIn__aB_uR a {
  color: #00244b; /* Azul */
  text-decoration: none;
}

.signup_signIn__aB_uR a:hover {
  text-decoration: underline;
}
